:root {
    --color-red: hsl(0, 100%, 74%);
    --color-green: hsl(154, 59%, 51%);
    --color-blue: hsl(248, 32%, 49%);
    --color-dark-blue: hsl(249, 10%, 26%);
    --color-grayish-blue: hsl(246, 25%, 77%);
    --color-white: #fff;
}

html {
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

body {
    width: 100%;
    min-height: 100vh;
    margin: 0;
    background-image: url("/images/bg-intro-mobile.png");
    background-repeat: no-repeat;
    background-position: center;
    background-color: var(--color-red);
}

main {
    display: flex;
    flex-direction: column;
    width: 95vw;
    height: 100%;
    margin: 3rem auto;
    padding: 0 1rem;
}

.header__content,
.body__content {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
}

.header__content {
    text-align: center;
}

.title__content {
    font-weight: 700;
    color: var(--color-white);
}

.text__content {
    color: var(--color-white);
}

.alert {
    width: 100%;
    height: auto;
    margin: 1rem auto;
    padding: 1rem 2rem;
    border-radius: 0.7rem;
    text-align: center;
    background-color: var(--color-blue);
    color: var(--color-white);
    box-shadow: 0 0.5rem 0 rgba(128, 126, 126, 0.316);
}

.form {
    width: 100%;
    height: auto;
    margin: 1rem auto;
    padding: 1rem;
    border-radius: 0.7rem;
    background-color: var(--color-white);
    box-shadow: 0 0.5rem 0 rgba(128, 126, 126, 0.316);
}

.form > * {
    width: 100%;
    margin: 0.5rem auto;
    padding: 1rem;
    border-radius: 0.3rem;
}

.form > input {
    border: thin solid var(--color-grayish-blue);
    font-weight: 600;
    color: var(--color-dark-blue);
}

.form > button {
    background-color: var(--color-green);
    font-size: 1rem;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    color: var(--color-white);
}

.form__footer {
    font-size: 0.7rem;
    text-align: center;
}

.form__footer > span {
    font-weight: 700;
    color: var(--color-red);
}

.alert > span {
    font-weight: 600;
}

@media screen and (min-width: 790px) {
    body {
        background-image: url("/images/bg-intro-desktop.png");
        background-repeat: no-repeat;
    }

    main {
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 3rem 4rem;
    }

    .header__content {
        padding: 4rem;
        text-align: left;
    }

    .title__content {
        font-size: 3rem;
        margin: 0;
    }

    .text__content {
        font-size: 0.9rem;
    }

    .form {
        padding: 2rem;
    }
}

.attribution {
    font-size: 11px;
    text-align: center;
}
.attribution a {
    color: hsl(228, 45%, 44%);
}
